*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "variables.scss";

/* Estilos generales */
a{text-decoration: none;}
ul{list-style-type: none;}
body{background-color: map-get($map: $palette, $key: "body");}

h1{font-size: 2.5em;}
h2{font-size: 1.2em;}
h3{font-size: 1.8em;}
h4{font-size: 1.6em;}
h5, li{font-size: 1.4em;}
label{font-size: 1.3em;}
h6, button, input{font-size: 1.2em;}
p{font-size: 1.4em;}

/* transitions logo, nav y subitems */
header{
    background-color: map-get($map: $palette, $key: "header-footer");
    a{transition: 0.3s ease;}
}

nav{@include grid-template(15% 70% 15%, auto, 3px, 0px)}

.brand a, h5{ /* logo and sublogo */
    text-align: left;
    color: map-get($map: $palette, $key: "letter-beige");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand a{ /* logo */
    letter-spacing: 3px;
    text-shadow: 0rem 0.125rem 0.188rem #00000054;
    &:hover{
        color: map-get($map: $palette, $key: "letter-light-blue");
        text-shadow: 0.1rem 0.2rem 0.2rem #0f0f0fb4;
    }
}
.brand h5{margin-bottom: 4px;}

nav .links-container{
    display: flex;
    align-items: flex-end;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 15px;
        width: 100%;
    }
}

.nav-link{ /* nav links style */
    color: map-get($map: $palette, $key: "letter-beige");
    letter-spacing: 1.5px;
    &:hover{
        color: map-get($map: $palette, $key: "letter-light-blue");
    }
}

.icons-position{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* item list container style */
.item-list-container{
    color: map-get($map: $palette, $key: "letter-dark-blue");
    
    display: flex;
    justify-content: center;
    align-items: center;
}